@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: 'poppins', sans-serif;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    box-sizing: border-box;    
}

.art-hero{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid #FFD65A;
}

.art-left{
    flex-basis: 60%;
}


.nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
}

.nav-links ul{
    display: flex;
    justify-content: space-between;
}
.nav-links li{
    list-style: none;
    margin-right: 20px;
    
}
.nav-links li a{
    color: #000;
    font-size: 14px;
}

#art-flex{
    width: 80%;
    margin: 0 auto;
    margin-top: 15%;
}

.mind{
    width: 80%;
    margin: 0 auto;
    margin-top: 5%;
}

.mind h2{
    font-size: 64px;
    margin-top: 3%;
}
.mind p{
    font-size: 14px;
    margin-top: 3%;
}

.button-flex{
    display: flex;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 10%;
}

.circle{
    margin-left: 5%;
}

.circle i{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    background: #FAF4E8;
    color: #00715D;
    cursor: none;
}
#rotate{
    font-size: 8px;
}

.circular-text{
    position: relative;
}

.arrow{
    position: relative;
}

#reel{
    background: #00715D;
    border: #00715D;
    color: #fff;
    margin-top: 5%;
    padding: 15px 40px;
}

@media screen and (max-width:1024px){
    .mind h2{
        font-size: 28px;
    }
    .mind p{
        margin-top: 5%;
        font-size: 12px;
    }
    #reel{
        margin-top: 10%;
        margin-bottom: 15%;
    }
}

.art-right{
    flex-basis: 40%;
    background:#FAF4E8 ;
}

.demo{
    display: flex;
    justify-content: space-between;
    padding: 5% 10%;
}

#demo{
    opacity: 0;
}

#dema{
    padding: 15px 30px;
    background: #00715D;
    border: #00715D;
    color: #fff;
    font-weight: 500;
}


.artright-main{
    padding:0 10%;
}

.play-flex{
    display: flex;
}

.play-wrap{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 50%;
}
.play-wrap i{
    line-height: 60px;
}


.gallery-wrap{
    width: 60px;
    height: 60px;
    margin-left: -25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
    z-index: 99;
}

.gallery-wrap img{
    width: 90%;
    position: absolute;
    padding: 10%;
    border-radius: 50%;
    background: #FFD65A;
}

.future h2{
    margin-top: 5%;
    font-size: 28px;
}
.future p{
    margin-top: 3%;
    font-size: 14px;
}

.grid-left{
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(16,minmax(10px,1fr));
    grid-template-rows: repeat(9,minmax(50px,1fr));
}

.grid-left .item-one{
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 9;
   background: #00715D;
   z-index: 99;
}

.grid-left .item-one img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.grid-left .item-two{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 7;
    grid-row-end:8;
    z-index: 999;
    border-radius: 50%;
    background: #000;
}
.grid-left .item-two p{
    position: absolute;
    font-size: 12px;
    text-align: center;
    color: #fff;
}
.grid-left .item-three{
    grid-column-start:8 ;
    grid-column-end: 16;
    grid-row-start: 3;
    grid-row-end: 8; 
    background: #89BC81; 
}

.grid-left .item-three img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
@media screen and (max-width:1024px){
    .art-hero{
        flex-direction: column;
    }
    
    .art-left{
        flex-basis: 100%;
    }

    .nav-links{
        display: none;
    }

    .art-right{
        flex-basis: 100%;
        background:#FAF4E8 ;
    }
    #dema{
       display: none;
    }
    .grid-left .item-two{
        display: none;
    }
}

.creative-con{
    background: #00715D;
    color: #fff;
}

.creative-row{
    width: 80%;
    margin: 0 auto;
    padding: 5% 0;
    display: flex;
    justify-content: space-between;
}

.creative-row p{
    width: 85%;
}
.flex-row{
    margin-bottom: 0;
}
.flex-row .icon{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #fff;
}



.flex-row i{
    width: 20px;
    height: 20px;
    border: 1px ;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    background: #00715D;
    cursor: none;
}

.flex-row h2{
    font-size: 18px;
    margin-top: 3%;
}
.flex-row p{
    font-size: 14px;
    color: #ccc;
    margin-top: 3%;
}


@media screen and (max-width:768px){
    .creative-row{
       flex-direction: column;
       padding: 10% 0;
    } 

    .creative-row h2{
        font-size: 18px;
    }

    .creative-row p{
        width: 100%;
        font-size: 12px;
    }  
    .flex-row{
        margin-bottom: 10%;
    } 
}